registry=https://pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/registry/:username=VidaSecurity
//pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/registry/:_password=dWxtY3M0Z2t4bnltcmxwYWFzaWdib3p3YXVteTZ6aWgybXM3aXdyeXg2Mm5ha2l1bXEyYQ==
//pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/registry/:email=vidasecurity@security.cl
//pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/:username=VidaSecurity
//pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/:_password=dWxtY3M0Z2t4bnltcmxwYWFzaWdib3p3YXVteTZ6aWgybXM3aXdyeXg2Mm5ha2l1bXEyYQ==
//pkgs.dev.azure.com/VidaSecurity/_packaging/VS-Design-System/npm/:email=vidasecurity@security.cl
; end auth token
